@CHARSET "UTF-8";
.clear{ clear: both;}
a{color:#0F3F94;}

.i_main{margin:8px auto 0; width: 986px;}
.i_main .right{width: 782px; float: left; margin-left: 8px; display: inline;}
.i_main .left{width: 196px; float: left; }

.gray{color:#959595}

.top .top_left{float: left; width: 524px; }
.top_left .slide{height: 186px; border: 1px #ffb583 solid; padding:1px;}
.slide #slides{position: relative;}
.slide .slides_container{width: 520px; height: 186px; overflow: hidden;}
.slide .slides_container img{ margin-top:-3px;}
.slide .pagination{ position:absolute; bottom: 4px; right: 4px; z-index: 100;}
.slide .caption{position: absolute; height: 25px; left:0; bottom:0; background: #000000\9; background: rgba(0,0,0,.5); filter:alpha(opacity=60); width: 507px; line-height: 25px; color: #FFFFFF; text-shadow: none; padding-left: 15px;}
.slide .pagination li{float: left; margin-left:1px; display: inline;}
.slide .pagination li a{ background: #868686; opacity:0.8; width: 18px; text-align: center; display: inline-block; text-decoration: none; color: #FFFFFF;}
.slide .pagination li.current a{ background: #ff7c08;}

/*.top_left .step{background: url(../Images/lhc_allbg.gif) -126px -406px no-repeat; width: 526px; height: 31px;}*/
.top_left .news{border: 1px #CFCFCF solid; padding: 0px 15px 6px; width: 492px;}
.top_left .news .title{border-bottom: 1px #D8D8D8 dashed; height:28px; line-height: 28px;}
.top_left .news .title h1{padding-left: 10px; font-size: 14px; float: left; margin-right: 8px; display: inline;}
.top_left .news .title h1 a{color: #DC0000;}
.top_left .news .title span{color: #005BA1;}
.top_left .news .news_list{margin-top: 5px;}
.top_left .news .news_list li{width: 240px; float: left; line-height: 22px; background: url(../Images/list_style_2.gif) 0 12px no-repeat; padding-left: 5px;}
.top_left .news .news_list li .lottery_name{color: #999999;text-decoration: none;}
.top_left .news .news_list li .lottery_name:hover{color: #FF0000;text-decoration: none; }
.top_left .news .news_list li a{text-decoration: none;}
.top_left .news .news_list li a:hover{text-decoration: underline;}
.top_left .recommend{border: 1px #CFCFCF solid; border-top: none;}
.top_left .recommend .recommend_title{float: left; width: 40px; height: 37px;  text-align: center; background: url(../Images/lhc_allbg.gif) 0 -455px no-repeat;}
.top_left .recommend .recommend_content{float: left; width: 482px; height:37px;}
.top_left .recommend .recommend_content .conver_left{float: left; text-indent: -1000px; display: block; width: 14px; height:37px; background: url(../Images/lhc_allbg.gif) -48px -455px no-repeat;}
.top_left .recommend .recommend_content .conver_right{float: left; text-indent: -1000px; display: block; width: 14px; height:37px; background: url(../Images/lhc_allbg.gif) -58px -455px no-repeat;}
.top_left .recommend .recommend_content .conver_center{float: left; width: 454px; overflow: hidden;}
.top_left .recommend .recommend_content .conver_center .conver_item{float: left; width: 434px; display: inline; margin: 0 10px; overflow: hidden;}
.top_left .recommend .recommend_content .conver_center .title{font-weight: bold; font-size: 14px; color: #DC0000; margin: 0 12px;}
.top_left .recommend .recommend_content .conver_center .subtitle{margin-right: 12px;}

.top .faqbox{float: right; border: 1px #CFCFCF solid; border-bottom:none; width: 248px; display: inline;}
.top .last{border-bottom: 1px #CFCFCF solid;}
.faqbox .faq_title{height: 85px; width:28px; float: left; background: url(../Images/lhc_allbg.gif) 0 -502px no-repeat; background-color:#ffeeee;}
.faqbox .notice_title{height: 85px; width:28px; float: left; background: url(../Images/lhc_allbg.gif) -28px -502px no-repeat;}
.faqbox .content{float: left; width: 220px; overflow: hidden;}
.faqbox .content ul{padding: 8px;}
.faqbox .content ul li{ background: url(../Images/list_style_2.gif) 0 12px no-repeat; padding-left: 5px; line-height: 23px; height:23px; position: relative;}
.faqbox .content ul li a{color: #404040;}
.faqbox .content ul li a:hover{color: #FF6600; text-decoration: none;}

.right .login{float: left; margin-left: 7px; display: inline;}
.login table{ border: 1px #FFB583 solid; background: #fff6ee; color: #7F2D00; width: 251px; height: 188px;}
.login table h1{font-size: 14px; line-height: 30px; margin-left: 10px;}
.login table td{padding:4px 0;}
.login table td img{height: 22px; margin-left: 5px;}
.login table td.t{text-align: right; width: 70px;}
.login table td .text{border: 1px #D8D8D8 solid; height: 20px; width: 150px;}
.login table td .imgcode{width: 65px;}
.login table td .submit{background: url(../Images/button_bg.gif) no-repeat -134px -43px; width: 110px; height: 32px; border: 0px; cursor:pointer; margin: 6px 0;}
.login .btn{margin-top: 8px; height: 33px;}
.login .btn a.regbtn{background: url(../Images/lhc_allbg.gif) 0 -406px no-repeat; width: 120px; height: 33px; margin: 0;}
.login .btn a{float:left; display:inline;  background: url(../Images/lhc_allbg.gif) -140px -197px no-repeat; width: 118px; height: 31px; text-align: center; line-height: 31px; font-size: 14px; font-weight: bold; color: #EB6100; margin-left: 13px;}


.right .broadcast{border: 1px #FFB583 solid; background: #ffeee1; height: 28px; line-height:28px; margin-top: 10px; padding-left: 10px;}
.right .broadcast h1{color: #FF0000; width: 80px; background: url(../Images/bugle.gif) 60px 7px no-repeat; float: left;}

.right .left_box{ margin-top: 10px;}
.right .left_box .left_top, .right .left_box .left_top_zc
{
	border: 1px solid #cfcfcf;
	height: 30px;
	padding-left: 30px;
	padding-right: 10px;
	line-height: 30px;
	border-bottom: none;
	background-image: url('../Images/hemai_head_bg.jpg');
	background-repeat: repeat-x; background-position:0px -7px;
}
.right .left_box .left_top h1 , .right .left_box .left_top_zc h1{font-size: 14px; color: #D10101; float: left;}
.right .left_box .left_top .more{float: right;  height:26px;}
.right .left_box .left_top .more img{position: absolute; top: 4px; right: 10px;}
.right .left_box .left_top .more .hm_menu{float: left; cursor: pointer; margin-right: 10px; position: relative;}
.right .left_box .left_top .more #hm_menu{position: absolute; width: 380px; background: #FFFBE5; border: 1px #FFC9A3 solid; top: 28px; right: -30px; padding: 10px;}
.right .left_box .left_top .more #hm_menu a{ font-weight: bold; font-size: 14px; float: left; display: block; width: 125px; height: 30px; text-align: center;}
.right .left_box .left_main{border: 1px #CFCFCF solid; padding-bottom: 10px; overflow:hidden;}
.right .left_box .left_mainbgcolor{background: #FBFBFB;}

.right .left_box .left_top_zc{height: 28px; line-height: 28px;position:relative;}
.zc_tab_ul {float:left;}
.zc_tab_ul li
{
    float:left;
    }
.right .left_box .left_top_zc .zc_tab , .right .left_box .left_top .zc_curtab{color : #7F2D00;  height:28px;width:74px;display:inline-block;text-align:center;}
.right .left_box .left_top_zc .zc_tab{cursor:pointer;}
.right .left_box .left_top_zc .zc_curtab{font-weight:bold;}

.right .lot_box{ float: left; width: 370px; margin: 10px 0 0 13px; display: inline;}
.right .lot_box .lot_top li{float: left; width: 68px; height: 26px; margin-right: 2px; text-align: center; line-height: 26px; color: #7F2D00; cursor: pointer;  position: relative; top: 1px;}
.right .lot_box .lot_top li.on{font-weight: bold; background:url(../Images/lhc_allbg.gif) -261px -197px no-repeat; height: 27px; }
.right .lot_box .lot_main{border: 1px #E5E5E5 solid;background: #FFFFFF; padding: 10px; height: 200px;}

.lot_main .lot_logo{float: left;}
.lot_main .lot_right{float: left;width: 230px;}
.lot_main .lot_right h1{color: #FF0000; margin-bottom: 10px;}
.lot_main .lot_right p{line-height: 20px;}
.lot_main .lot_right p.btn{margin:10px 0 10px 30px;}

.lot_main .lot_buy{border-top: 1px #BFBFBF dashed; padding-top: 5px;}
.lot_main .lot_buy .buy_left{float: left;}
.lot_main .lot_buy .buy_left .red{color: #FF0000;}
.lot_main .lot_buy .buy_right{float: right;}
.lot_main .lot_buy .buy_right .blue{color: #00A0E9;}
.lot_main .lot_buy span a{margin-left: 10px;}
.lot_main .lot_buy table{margin:20px auto; width: 80%; border-top: 1px #E7E7E7 solid; border-left: 1px #E7E7E7 solid; text-align: center;}
.lot_main .lot_buy table td{ border-right: 1px #E7E7E7 solid; border-bottom: 1px #E7E7E7 solid; line-height: 24px;}
.lot_main .lot_buy table td .buy{color: #0000FF;}

.lot_main .lot_buy .teamTab{margin: 3px auto;}
.lot_main .lot_buy .teamTab td{line-height: 19px;}
.lot_main .lot_buy .teamTab td span{font-weight: bold; color: #555555; display: block; width: 14px; margin: auto; overflow: hidden; word-wrap:break-word;}
.lot_main .lot_buy .teamTab tr.num{height: 20px;}

.lot_main .lot_buy .balls{margin: 10px 0 10px 28px;}
.lot_main .lot_buy .balls span{background: #F2F2F2; margin-left: 10px;}
.lot_main .lot_buy .redball,.lot_main .lot_buy .redball_first,.lot_main .lot_buy .blueball,.lot_main .lot_buy .blueball_first{background:url(../Images/lhc_allbg.gif) no-repeat; width: 19px; height: 15px; line-height:15px; border: none;  padding: 16px 7px 9px 8px;}
.lot_main .lot_buy .redball{background-position: -331px -240px;}
.lot_main .lot_buy .redball_first{background-position: -260px -240px;}
.lot_main .lot_buy .blueball{background-position: -366px -240px;}
.lot_main .lot_buy .blueball_first{background-position: -295px -240px; }

.lot_main .lot_buy .buy_btn{background:url(../Images/index_buy_bg.gif) 35px 0 no-repeat; padding: 10px 0 10px 75px;}
.lot_main .lot_buy .buy_btn a{color: #0000FF;}

.lot_main .lot_scroll{border-top: 1px #BFBFBF dashed; padding-top: 5px; padding:10px 5px 0;}
.lot_main .lot_scroll li{line-height: 20px;}
.lot_main .lot_scroll li a{color: #000000;}
.lot_main .lot_scroll li a:hover{color: #FF0000;}

.left_main .hmlist{width: 100%}
.hmlist tr.title{background: #FFFAE4;}
.hmlist tr.bgcolor{background: #F7F7F7;}
.hmlist td{text-align: center; height: 35px; border-left: 1px #EBEBEB solid;}
.hmlist td .text{width: 45px; border: 1px #A8B0B0 solid;}
.hmlist td.detail{text-align: left; padding-left: 20px;}
.hmlist td.process{line-height: 15px; text-align: left; padding-left: 10px;}
.hmlist td.process span{display: block; font-size: 10px;}
.hmlist td.process span.reserved{display: inline; font-size: 12px; margin: 0;}
.hmlist td.process .tag{border: 1px solid #B3B3B3; font-size: 0; height: 3px; overflow: hidden; width: 60px;}
.hmlist td.process .tag i{background:url(../Images/lottery/syndicate_progress_bg.gif) repeat-x; display: block; height: 3px;}
.hmlist td .buy{color: #0000FF;}
.wenhao{background:url(../Images/wenhao.gif) no-repeat;display:inline-block; width:12px; height:12px;margin-left:4px;cursor:pointer;}

.left_main .news_box{width: 368px; margin-top: 10px; padding:0 10px; float: left; display: inline;}
.left_main .news_line{border-right: 1px dashed #C9C9C9;}
.news_box .headline{padding-bottom: 5px;}
.news_box .headline img{border: 0; float: left;}
.news_box .headline .synopsis{float: left; width: 230px; padding-left: 10px;}
.news_box .headline .synopsis h1{font-size: 14px; color: #D90000; margin-bottom: 10px;}
.news_box .headline .synopsis p a{color: #005AA0; }
.news_box .news_acl{padding:5px 10px 0;}
.news_box .news_acl .acl_list{margin: 0 10px;}
.news_box .news_acl .acl_list li{height: 20px; line-height: 20px; list-style-image: url(../Images/list_style.gif);}
.news_box .news_acl .acl_list li a{color: #404040;}

.left .right_box{margin-top: 10px;}
.left .lottery_margin{margin-top:279px;}
.right_box .right_top{background:url(../Images/lhc_allbg.gif) -786px -340px no-repeat; height: 27px; padding: 0 10px; line-height: 27px;}

.islogin{ float: right; width: 249px;}
.islogin center a{float: left; background: url(../Images/lhc_allbg.gif) -140px -197px no-repeat; width: 118px; height: 31px; text-align: center; line-height: 31px; font-size: 14px; font-weight: bold; color: #EB6100; margin-left: 4px; display: inline;}
.islogin .div_login_main{ border: 1px #FFB583 solid; background: #FEF9EA; color: #7F2D00; margin-bottom:10px; width: 249px; height: 186px;}
.islogin .div_login_head{ padding: 10px 8px; font-weight: bold ; color:#777}
.islogin .div_login_head #span_user_username{  float: left;font-weight: normal ; color:#EB6100}
.islogin .div_login_head .span_login_logout{ float: right}
.islogin .div_login_line{ height: 1px; line-height: 1px; background: url(../Images/login_line.gif) no-repeat;font-size:0; margin-bottom: 10px; }
.islogin .div_login_body p { padding-left: 15px; margin-bottom: 10px;}
.islogin .div_login_body #a_show_money{ text-decoration: underline;}
.islogin .div_login_body span.span_login_rmb{ font-size: 12px; font-weight: bold; color:#F00; margin-left:6px;}
.islogin .div_login_body img.img_login_refresh{ cursor: pointer;}
.islogin .div_login_body #span_user_money{ font-size: 12px; color:#F00; margin-right:2px;}
.islogin .div_login_body img{ margin-left:6px;}
.islogin .div_login_body .p_login_btn {margin: 0 0 10px 15px;}
.islogin .div_login_body .p_login_btn a{ float: left; background: url(../Images/lhc_allbg.gif) -701px -197px no-repeat; width: 55px; height: 24px; text-align: center; line-height: 24px; font-size: 12px; font-weight: bold; color: #000; margin-right: 4px; display: inline;}
.islogin .div_login_body .p_login_btn a.a_login_big{ background: url(../Images/lhc_allbg.gif) -760px -197px no-repeat; width: 91px; color: #EB6100;}
.islogin .div_login_body .p_login_a14 a{ margin-right: 20px; text-decoration: underline;}
.islogin .div_login_body .p_login_a12{ line-height:18px; margin-bottom: 12px;}
.islogin .div_login_body .p_login_a12 a{ font-size: 12px; margin-right: 18px; text-decoration: underline;}

.islogin .btn{margin-top: 8px; height: 33px; width: 249px;}
.islogin .btn a.regbtn{background: url(../Images/lhc_allbg.gif) 0 -406px no-repeat; width: 120px; height: 33px; margin: 0;}
.islogin .btn a{float:left; display:inline;  background: url(../Images/lhc_allbg.gif) -140px -197px no-repeat; width: 118px; height: 31px; text-align: center; line-height: 31px; font-size: 14px; font-weight: bold; color: #EB6100; margin-left: 11px;}


.right_box .right_top h1{float: left;}
.right_box .right_top .more{float: right;}
.right_box .right_main{border: 1px #CFCFCF solid; padding: 5px;}

.right_main .acl_list li{line-height: 22px; background: url(../Images/list_style_2.gif) 0 12px no-repeat; padding-left: 6px;}
.right_main .acl_list li a{color: #333333;}
.right_main .acl_list li a:hover{color:#FF0000; text-decoration: none;}

.right_main .zst_list li{line-height: 25px; float: left; width: 87px;}
.right_main .zst_list li.ml12{margin-left: 5px; display: inline;}
.right_main .zst_list li a{color: #333333;}
.right_main .zst_list li a:hover{color: #FF0000; text-decoration: none;}

.right_top .kj_tit{ color: #E60012; margin-right: 8px; }
.right_top .kj_tab{padding-top: 3px;}
.right_top .kj_tab li{float: left; width: 33px; height: 23px; margin-right: 2px; text-align: center; line-height: 23px; cursor: pointer;  position: relative; top: 1px; }
.right_top .kj_tab li.on{font-weight: bold; background:url(../Images/lhc_allbg.gif) -900px -197px no-repeat; height: 24px;width: 42px;}

.right_top .czjz_tit{margin-right: 8px;}
.right_top .czjz_tab li{float: left; width: 55px; text-align: center;}
.right_top .czjz_tab li.on{width: 55px; background: #FFFFFF; border-left: 1px #CFCFCF solid; border-right: 1px #CFCFCF solid; top: 1px; position: relative;}

.right_main .kj_list li{border-bottom: 1px #C1C1C1 dashed; padding: 2px 0;}
.kj_list li.last{border-bottom: none;}
.kj_list li .lot_name{ float:left;}
.kj_list li .lot_name a{font-weight: bold; color:#333333; margin-right: 5px;}
.kj_list li .lot_name a:visited{color:#333333;}
.kj_list li .red{color: #FF0000;}
.kj_list li b{color: #FF0000;}
.kj_list li span.term{float: right;color: #999999;}
.kj_list li span.term a{color: #999999; text-decoration: underline;}
.kj_list li .redball{float:left; line-height: 23px; color: #FF0000; font-weight: bold; margin-left:5px;}
.kj_list li .blueball{float:left; line-height: 23px; color: #0067B7; font-weight: bold; margin-left:5px;}
.kj_list li .kjTab{border-top: 1px #DADADA solid; border-left: 1px #DADADA solid; margin-top: 10px; margin-bottom: 5px;}
.kj_list li .kjTab td{border-right: 1px #DADADA solid; border-bottom: 1px #DADADA solid; text-align: center;}
.kj_list li .kjTab td .num{color: #FF0000; font-weight: bold; padding: 0 3px;}

.right_main .phb_tab{width: 100%; text-align: center;}
.phb_tab .thead{background: #F1F1F1;}
.phb_tab td{height: 22px;}
.phb_tab td strong{background: #999999; width: 15px; height: 15px; line-height: 15px; text-align: center; color: #FFFFFF; display: block; margin-left: 5px;}
.phb_tab td strong.top3{background: #DC0000;}
.phb_tab td.align_left{text-align:left;padding-left: 4px;}
.phb_tab td.align_right{text-align:right;}

.right_main .cztab{text-align: center;}
.cztab td{height: 22px;}
.cztab .tit{font-weight: bold; color: #DC0000;}

.right_main .kf_list li{height: 30px; border-bottom: 1px #999999 dashed; margin-bottom: 5px;}
.right_main .kf_list li.last{height: 18px; border-bottom: none; margin: 0;}
/*足彩投注区*/
.zc_table{width: 100%;}
.zc_table .title{background-color:#F1F1F1; color: #404040;}
.zc_table .title td{height:20px;}
.zc_table .title .bg{background: #FFECB2;height:20px;}
.zc_table .bgcolor{background:#FFF;/* #F2F2F2;*/}
.zc_table .btn_bg{background: #FFFAD7;}
.zc_table .btn_left{border-left: 2px #A6D756 solid;}
.zc_table td{border: 1px #D6D6D6 solid; text-align: center;height:30px;}
.zc_container {border-top:1px solid #D6D6D6;}
.zc_footer {border:1px solid #D6D6D6 ; border-top:0;padding-left:200px;}
.zc_footer a {margin-left:260px;}
.zc_phase_select {height:26px;line-height:26px;padding:0 6px; border:1px solid #D6D6D6 ; border-bottom : 0 ;border-top:0;}
.zc_timer {color:#F00;float:right;}
.zc_phase_list {float:left;}

.btn_default, .btn_on
{
	background: url(../Imagesages/lottery_bg.gif) no-repeat;
	width: 20px;
	height: 20px;
	margin: 0 auto;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
}
.btn_default{background-position: -273px -300px;}
.btn_on{background-position: -299px -300px; color:#fff;}
.scbg1{color:#fff;}
.submit_btn{ background: url(../Images/liji_btn.gif) 0 3px no-repeat; width: 82px; height:33px;cursor:pointer; border: 0; margin-left: 10px;}
.syn_menu ul{list-style:none;position:absolute;top:5px;left:110px;}
.syn_menu li{float:left ;display:inline-block;width:80px;text-align:center;color:#7F2D00;cursor:pointer; line-height: 26px; height: 26px;}
.syn_menu li.on{background:url(../Images/lhc_allbg.gif) no-repeat -738px -248px;font-weight:bold;}
.syn_tip{border:2px solid #E0E0E0;background-color:#FEFDC2;padding:8px;z-index:2;position:absolute;width:400px;line-height:20px;top:30px;left:60px;}
.syn_tip h3{color:#FF0000;}
.syn_wenhao{position:absolute;top:8px;left:90px;}
/*合买列表中的提成提示*/
.what_is_rebate{background:url(../Images/wenhao.gif) 52px 0 no-repeat;padding-right:14px;cursor:pointer;}
#tooltip_container{border:2px solid #E0E0E0;background-color:#FEFDC2;padding:8px;z-index:2;position:absolute;width:200px;line-height:20px;top:30px;left:60px;color:#555}
#tooltip_container_rebate,.notebox{border:2px solid #E0E0E0;background-color:#FEFDC2;padding:8px;z-index:2;position:absolute;width:400px;line-height:20px;top:30px;left:60px;color:#555;text-align:left;}
.alipay_quick_small{background:url(../Images/alipay_quick_small.gif) no-repeat; display:inline-block;height:20px;width:104px;}
/*战绩提示框*/
.zhanji_help {position:relative;width:100%;}
.zhanji_help .zhanji_tip{position:absolute;top:15px;left:15px;text-align:left;width:250px;color:#555;}
.notice_box {background-color:#EBEFD4;color:#587C00;font-weight:bold;padding:2px 4px;}


