<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>

    <compilation defaultLanguage="c#" debug="true" />

    <authorization>
      <allow users="*" />
    </authorization>

    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />


    <customErrors mode="Off" />


    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"    />


    <pages validateRequest="false" enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode ="Never" />

    <xhtmlConformance mode="Legacy"/>

    <httpRuntime maxRequestLength="2097151" executionTimeout="600"/>
  </system.web>

</configuration>