<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<configSections>
		<sectionGroup name="ajaxNet">
			<section name="ajaxSettings" type="AjaxPro.AjaxSettingsSectionHandler,AjaxPro.2" />
		</sectionGroup>
		<section name="RewriterConfig" type="URLRewriter.RewriterConfigSerializerSectionHandler" />
	</configSections>
	<ajaxNet>
		<ajaxSettings>
			<urlNamespaceMappings useAssemblyQualifiedName="false" allowListOnly="false">
			</urlNamespaceMappings>
			<jsonConverters>
			</jsonConverters>
			<debug enabled="false" />
			<token enabled="false" sitePassword="iloveSLSICAILE" />
		</ajaxSettings>
	</ajaxNet>
	<appSettings>
		<add key="ConnectionString" value="server=.;Uid=sa;Pwd=vc++net2003;Database=SZJS_Lottery" />
		<add key="SystemPreFix" value="SLS_zycm_" />
		<add key="CacheSeconds" value="120" />
		<add key="Register" value="True" />
		<add key="SitePageCacheSeconds" value="0" />
		<add key="DEBUG" value="False" />
		<add key="DebugUserControl" value="False" />
		<add key="DefaultCpsBonusScale" value="0.03" />
		<add key="HiddenRegisterButton" value="False" />
		<add key="HiddenRoomWhenNoLogin" value="False" />
		<add key="GotoRoomWhenLogin" value="True" />
		<add key="AdvertisementOpenPage" value="" />
		<add key="AdvertisementOpenPageWidth" value="662" />
		<add key="AdvertisementOpenPageHeight" value="450" />
		<add key="IsStopSale" value="False" />
		<add key="ClientVerSion" value="0448L5w3L6Q5a6l5N6a5R6Q7gz05Q7K7l7K7g5RE06S5R5Q7S6N7L5R7g5n6K6L6R5g5R5Q58" />
		<add key="AlipayServiceType" value="systemservice" />
		<!--F827665DA13E6D0D592845109E812998-->
		<add key="GetSpServiceURL.Service" value="" />
		<add key="ShoveWebPartUserControlDirectory" value="~/UserControls" />
		<!--Alipay CPS-->
		<add key="CPS_Alipay_Key" value="sesgcsd3" />
		<add key="CPS_Alipay_RequestStringDesKey" value="qwertyu1qwertyu3qwertyu6" />
		<!--SitePageCache-->
		<add key="Home_Web_Default" value="120" />
		<add key="Error" value="600" />
		<add key="Home_Web_Help" value="600" />
		<add key="Home_Web_LotteryIsuseOpenInfo" value="60" />
		<add key="Home_Web_News" value="600" />
		<add key="Home_Web_NewsMore" value="600" />
		<add key="NotFound" value="600" />
		<add key="Home_Web_ShowAffiches" value="120" />
		<add key="Home_Web_ShowExpertsCommends" value="600" />
		<add key="Home_Web_ShowExplain" value="600" />
		<add key="Home_Web_ShowNews" value="600" />
		<!--Key-->
		<add key="DesKey" value="tfgyNQ56Gkp97otH33yu4Tta" />
		<add key="CenterMD5Key" value="Q56GtyNkop97H334TtyturfgErvvv98a" />
		<add key="IsMD5" value="False" />
		<!--客服系统-->
		<add key="IsUsePPS" value="False" />
		<!--支付宝注册会员 PID-->
		<add key="AlipayAccountRegisterPid" value="8121203" />
		<add key="AlipayRegDonateMoney" value="2" />
		<!--END 支付宝注册会员 PID-->
		<!--弹出广告-->
		<add key="FloatNotifyPageList" value=",Home_Web_Default,Home_Room_Default,Home_Lottery_Shssl_Play,Home_Room_TrendChart,Home_Web_LotteryIsuseOpenInfo," />
		<add key="FloatNotifyTimeOut" value="5" />
		<!--END-->
	</appSettings>
	<connectionStrings />
	<location path="ajaxpro">
		<system.web>
			<httpHandlers>
				<add verb="*" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2" />
			</httpHandlers>
		</system.web>
	</location>
	<system.web>
		<!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过
            程中将此值 
            设置为 true。
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<authentication mode="Windows" />
		<customErrors mode="RemoteOnly" defaultRedirect="Error.aspx">
			<error statusCode="403" redirect="NoAccess.htm" />
			<error statusCode="404" redirect="FileNotFound.htm" />
		</customErrors>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
		<httpRuntime maxRequestLength="1000000" useFullyQualifiedRedirectUrl="true" executionTimeout="2000" />
		<xhtmlConformance mode="Legacy" />
		<webServices>
			<protocols>
				<add name="HttpGet" />
				<add name="HttpPost" />
			</protocols>
		</webServices>
		<pages enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="fck" namespace="FredCK.FCKeditorV2" assembly="FredCK.FCKeditorV2" />
			</controls>
		</pages>
	</system.web>
	<!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="index.aspx" />
			</files>
		</defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".aspx" mimeType="text/html" />
            <mimeMap fileExtension=".ascx" mimeType="text/html" />
        </staticContent>
	</system.webServer>
</configuration>
