<?xml version="1.0" standalone="yes"?>
<DocumentElement>
    <Cps>
      <ID>1</ID>
      <QQ>821990796</QQ>
      <SiteUrl>http://localhost:1934/sls.twzt</SiteUrl>
      <ClubUrl>http://localhost:8860/SLS.Club</ClubUrl>
      <TopLogo>images/logo.gif</TopLogo>
      <BottomLogo>images/tz_logo_1.jpg</BottomLogo>
      <GovName>百姓彩票软件-标准版社区</GovName>
      <GovUrl>http://localhost:1934/sls.twzt</GovUrl>
    </Cps>
  
</DocumentElement>